<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>即将转入蓝鲸登录...</title>
		<script src="${REMOTE_STATIC_URL}jquery/jquery-1.7.2.min.js"></script>
        <script src="${REMOTE_STATIC_URL}jquery/jquery.json-2.3.min.js"></script>
		<link href="${REMOTE_STATIC_URL}bk/base.css?v=${STATIC_VERSION}" rel="stylesheet" type="text/css"/>
		<link href="${REMOTE_STATIC_URL}bk/bk.css?v=${STATIC_VERSION}" rel="stylesheet" type="text/css"/>
	</head>
	<body style="font-family:Microsoft Yahei;">
    	<div class="errors-login-wrap box">
            <img src="${REMOTE_STATIC_URL}bk/style_custom/images/expre_login.jpg" width="183" height="113" /> 
            <div class="errors-login-con clearfix">          
	            <h1>您需要登录蓝鲸</h1>
	            <p><strong>看起来：</strong></p>
	            <p>1.您还没有登录蓝鲸</p>
	            <p>2.您之前的登录已经失效了</p> 
	            <p class="goto"><em id="cd_sec"></em>秒后自动跳转到登录页面</p>
	            <a href="javascript:;" class="btn-jump f_r" onclick='jump_now()'>立即跳转</a>          	
            </div>
        </div>
		<script type="text/javascript">
			var cd_sec = 5;
			function count_down(){
				$('#cd_sec').html(cd_sec)
				cd_sec += -1
				if(cd_sec < 0){
					cd_sec = 5;
					jump_now();
				}
				setTimeout('count_down()', 1000)
			}
			
			$(function(){
				count_down();
			})
			
			function jump_now(){
			   
			   // 判断是否是在蓝鲸平台中打开 
	    		try{
	    			window.top.BLUEKING.corefunc.close_login_dialog();
	    			window.top.BLUEKING.window.refresh('${APP_CODE}');
	    		}catch(err){
	    			window.parent.location.reload();
	    		}
			}
		</script>
	</body>
</html>
